<head>
  <link rel="stylesheet" href="/css/welcome.css" />
</head>

<div class="container">
  <h1>Welcome to Tul</h1>
  <h3>Bringing the shared economy to your backyard</h3>

  <a href="/users/new"><button class="btn btn-primary btn-large">Sign Up!</button></a>

</div><!--.container-->